

.container {
    width: 100%;
    height: 100%;
}

#fontFillBg {
    width: 100vw;
    height: 100vh;
    background-color: #1b263b;
}

#searchBox {
    z-index: 10;
    position: relative;
    left: 50%;
    height: 60px;
    width: 800px;
    transform: translateX(-50%);
    border: 1px solid black;
    background-color: var(--font-colour);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

#background {
    width: 100vh;
    height: 100vh;
}

#infoHolder {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.infoChip {
    width: 500px;
    height: 100%;
    background-color: var(--2bg-colour);
    padding: 40px;
    border-radius: 10px;
    h1 {
        margin-bottom: 0;
        font-size: 40px;
        text-align: center;
    }
    p {
        margin-top: 0;
        font-size: 20px;
        text-align: center;
    }
}

#title {
    font-family: var(--title-font);
    color: #e0e1dd;
    text-align: center;
    position: relative;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 20px;
    left: 50%;
    font-size: 70px;
    transform: translateX(-50%);
}

#searchBTN {
    height: 75%;
    cursor: pointer;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    user-select: none;
    padding-left: 4px;
}


#searchInput {
    font-size: 40px;
    padding: 0px;
    border: none;
    background-color: transparent;
    outline: none;
    width: 100%;
    height: 100%;
}

#wordOfTheDay {
    max-width: 400px;
    backdrop-filter: blur(2px);
    background-color: #ffffff07;
    padding: 20px;
    border-radius: 3px;
    border-top: 0.5px solid #63636344;
    border-bottom: 0.5px solid #24242444;
}

#wordOfTheDayTitle {
    margin: 0;
    text-align: center;
    position: relative;
}

#wordOfTheDayTitle:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100px;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    background-color: var(--2bg-colour);
}

#animatedBg {
    position: absolute;
}

.connectionWordHolder {
    position: absolute;
    z-index: 100;
    transition: 100ms;
    border-radius: 5px;
    font-size: 10px;
    h1 {
        background-color: var(--bg-colour);
        padding: 4px;
        z-index: 200;
        margin: 0;
        border-radius: 5px;
        font-family: var(--content-font);
    }
}

.connectionWordHolder::after, .connectionWordHolder::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-image: conic-gradient(from var(--borderAngle), #ffbe0b, #fb5607, #ff006e, #8338ec, #3a86ff, #ffbe0b);
    padding: 2px;
    border-radius: 7px;
    z-index: -1;
    animation: rotateBorder 3s infinite linear;
}

.connectionWordHolder::before {
    transition: 200ms;
    filter: blur(20px);
    opacity: 0.5;
}

.content {
    position: relative;
    z-index: 10;
}

#wordOfTheDayWord {
    font-family: var(--content-font);
    text-align: center;
    margin: 0;
    margin-top: 10px;
    font-size: 40px;
    
}

p {
    text-align: center;
    margin-top: 10px;
}

a {
    color: var(--font-colour) !important;
    text-decoration: none;
}

.suggestion {
    font-size: 30px;
    margin-inline: 50px;
    border-top: 1px solid rgb(119, 119, 119);
    user-select: none;
    cursor: pointer;
    color: black;
}

.suggestion.selected {
    background-color: rgb(160, 160, 160);
}

.suggestion:hover {
    background-color: rgb(160, 160, 160);
}

#suggestionsBox {
    position: absolute;
    top: 90%;
    width: 100%;
    background-color: var(--font-colour);
    border: 1px solid black;
    border-top: none;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}