html, body {
    margin: 0;
}

#searchResultsHolder {
    padding-top: 65px;
    padding-bottom: 30px;
    overflow-x: hidden;
}

.result {
    transition: 200ms;
    position: relative;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--bg-colour);
    color: var(--font-colour);
    border: 3px solid var(--2bg-colour);
    h1 {
        margin: 0px;
        text-decoration: none;
    }
    
}

.resultLoading {
    padding: 10px;
    border: none;
}
.resultLoading::after, .resultLoading::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-image: conic-gradient(from var(--borderAngle), var(--2bg-colour), #175f77, var(--2bg-colour));
    padding: 3px;
    border-radius: 13px;
    z-index: -1;
    animation: rotateBorder 1s infinite linear;
}

.resultLoading::before {
    transition: 200ms;
    filter: blur(10px);
    opacity: 0.5;
}

.resultLoading:hover::before {
    filter: blur(20px);
    opacity: 1;
    animation: rotateBorder 750ms infinite linear;
}

.resultLoading:hover::after {
    animation: rotateBorder 750ms infinite linear;
}

.pageBTN {
    padding-inline: 5px;
}

#pageSelectorHolder {
    position: relative;
    width: fit-content;
    left: 50%;
    translate: -50%;
}

.pageBTN.selected {
    color: white;
}

#filtersMenuAccess {
    position: absolute;
    right: 10px;
    top: 65px;
    width: 50px;
    height: 20px;
    border-radius: 10px;
    background-color: var(--bg-colour);
    p {
        width: fit-content;
        margin: auto;
    }
}

#filtersMenuAccess::after, #filtersMenuAccess::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-image: conic-gradient(from var(--borderAngle), #ffbe0b, #fb5607, #ff006e, #8338ec, #3a86ff, #ffbe0b);
    padding: 2px;
    border-radius: 13px;
    z-index: -1;
    animation: rotateBorder 3s infinite linear;
}

#filtersMenuAccess::before {
    transition: 200ms;
    filter: blur(20px);
    opacity: 1;
}

#filtersOptions {
    display: none;
    position: absolute;
    right: 0px;
    z-index: 100;
    background-color: #1b1b1b34;
    border: 1px solid #1b1b1b;
    backdrop-filter: blur(2px);
    p {
        margin-left: 0;
        width: calc(100% - 10px);
        padding-inline: 10px;
        user-select: none;
        cursor: pointer;
    }
}

#filtersMenuAccess:hover, #filtersOptions:hover{
    #filtersOptions {
        display: block;
    }
}

p {
    margin-block: 5px;
}

a {
    text-decoration: none;
}

.infoText {
    margin-top: 0px;
}