html, body {
    margin: 0px;
}

.multicolumn-list {
    background-color: #153457 !important;
}

#titleHolder {
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--2bg-colour);
    margin-bottom: 10px;
    padding-block: 10px;
    h1 {
        margin: 0;
        margin-right: 40px;
        display: block;
        width: fit-content;
        font-size: 50px;
    }
}

audio {
    width: 250px !important;
    height: 20px !important;
    margin-inline: 5px;
}

#pageContent {
    padding-top: 60px;
    padding-inline: 20px;
    overflow: hidden;
}
