html, body {
    margin: 0px;
}

.multicolumn-list {
    background-color: #153457 !important;
}



audio {
    width: 250px !important;
    height: 20px !important;
    margin-inline: 5px;
}

#pageContent {
    padding-top: 60px;
    padding-inline: 20px;
    overflow: hidden;
}

#titleHolder {
    display: flex;
    align-items: center;
    
    h1 {
        margin: 0;
        margin-right: 40px !important;
        display: block;
        width: fit-content;
        font-size: 50px;
    }
}

#topInfo {
    margin-bottom: 10px;
    padding-block: 10px;
    border-bottom: 2px solid var(--2bg-colour);
    p {
        margin-block: 5px;
    }
}